<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <script src="lib/socket.io-client/socket.io.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>


    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-app="impulse" ng-controller="TheController as main">

    <div class="status-bar"></div>

    <ion-pane>
      <ion-content>
        <section>
          <h3 class="playing">Now Playing</h3>

          <figure class="current-cover"
            on-swipe-left="main.previousSong()"
            on-swipe-right="main.nextSong()">
            <img ng-src="data:image/jpeg;base64, {{main.currentSong.ArtWork}}" alt="">

            <figcaption>
              {{main.currentSong.Title}} <br>
              {{main.currentSong.Artist}}
            </figcaption>

            <a class="button right ion-chevron-right button-clear"
              ng-click="main.nextSong()">
            </a>
            <a class="button left ion-chevron-left button-clear"
              ng-click="main.previousSong()">
            </a>
          </figure>

          <div class="actions">
            <button class="icon ion-ios-plus-empty button"
              ng-class="{
                'ion-ios-checkmark-empty': main.isInPersonalAlbum,
                'ion-ios-plus-empty': !main.isInPersonalAlbum
              }"
              ng-click="main.addToPersonalAlbum()">
            </button>
            <span class="fill-space"></span>
            <button class="button ion-thumbsdown with-right-margin"
              ng-class="{
                'active': main.downvoted
              }"
              ng-click="main.downvote()">
            </button>
            <button class="button ion-thumbsup"
              ng-class="{
                'active': main.upvoted
              }"
              ng-click="main.upvote()">
            </button>
          </div>

          <section class="volume">
            <h3>Volume Request</h3>

            <div class="row">
              <div class="left">
                <button class="icon ion-ios-minus-empty button"
                  ng-click="main.downVoteVolume()">
                </button>
              </div>
              <div class="right">
                <button class="icon ion-ios-plus-empty button"
                  ng-click="main.upVoteVolume()">
                </button>
              </div>
            </div>

            <svg class="volume feedback-bar" viewBox="0 0 320 20" xmlns="http://www.w3.org/2000/svg">
              <rect class="progress" x="160" y="4" width="0" height="12" style="
                fill: #00FF86;
              "></rect>
              <rect x="159" y="0" width="2" height="20" style="
                  fill: #111315;
              "></rect>
            </svg>
          </section>

          <section class="genre">
            <h3>Genre Request</h3>

            <div class="dropdown"
              ng-click="main.toggleDropdown()">
              <span>{{main.currentGenre}}</span>
              <i class="icon ion-ios-arrow-down"></i>

              <div class="dropdown-menu">
                <div class="dropdown-item"
                  ng-repeat="genre in main.genres"
                  ng-click="main.updateCurrentGenre(genre)">
                  {{genre}}
                </div>
              </div>
            </div>

            <svg class="genre feedback-bar" viewBox="0 0 320 20" xmlns="http://www.w3.org/2000/svg">
              <rect class="progress" x="6" y="4" width="0" height="12" style="
                fill: #00FF86;
              "></rect>
            </svg>
          </section>
        </section>
      </ion-content>
    </ion-pane>
  </body>
</html>
